<div class="accounts uk-animation-slide-right uk-grid" ng-controller="c_accounts">
<div class="uk-width-1-6">
	<ul class="uk-tab uk-tab-left">
	    <li class="uk-active"><a href="javascript:void(0);" class="plain-link" ui-sref="cash">现金</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">储蓄卡</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">信用卡</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">支付宝</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">金融账户</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">饭卡</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">公交卡</a></li>
	    <li><a href="javascript:void(0);" class="plain-link">其它</a></li>
	    <li><a href="javascript:void(0);" class="plain-link" ng-click="addAccount()">添加账户</a></li>
	</ul>
</div>
<div class="accounts_view uk-width-5-6" ui-view="accounts_view"></div>
</div>
<!--添加账户-->
<div class="uk-modal" id="add-account-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
        	<h3 style="display:inline-block;">添加账户</h3>
        </div>
      	
        <div class="uk-modal-footer">
        	<button class="uk-button uk-button-primary">保存</button>
        </div>

    </div>
</div>