<div class="accounts uk-animation-slide-right uk-grid" ng-controller="c_accounts">
<div class="uk-width-1-6">
	<ul class="uk-tab uk-tab-left">
	    <li ng-class="{'uk-active': current_accounts_tab=='cash'}" ng-click="switchAccountsTab('cash')"><a href="javascript:void(0);" class="plain-link" ui-sref="cash">现金</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='deposit_card'}" ng-click="switchAccountsTab('deposit_card')"><a href="javascript:void(0);" class="plain-link">储蓄卡</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='credit_card'}" ng-click="switchAccountsTab('credit_card')"><a href="javascript:void(0);" class="plain-link">信用卡</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='alipay'}" ng-click="switchAccountsTab('alipay')"><a href="javascript:void(0);" class="plain-link">支付宝</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='finance'}" ng-click="switchAccountsTab('finance')"><a href="javascript:void(0);" class="plain-link">金融账户</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='canteen_card'}" ng-click="switchAccountsTab('canteen_card')"><a href="javascript:void(0);" class="plain-link">饭卡</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='bus_card'}" ng-click="switchAccountsTab('bus_card')"><a href="javascript:void(0);" class="plain-link">公交卡</a></li>
	    <li ng-class="{'uk-active': current_accounts_tab=='other'}" ng-click="switchAccountsTab('other')"><a href="javascript:void(0);" class="plain-link">其它</a></li>
	    <li><a href="javascript:void(0);" class="plain-link" ng-click="addAccount()">添加账户</a></li>
	</ul>
</div>
<div class="accounts_view uk-width-5-6" ui-view="accounts_view"></div>
</div>
<!--添加账户-->
<div class="uk-modal" id="add-account-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
        	<h3 style="display:inline-block;">添加账户</h3>
        </div>
        <form class="uk-form" action="" method="post">
      	<ul class="uk-list uk-list-striped">
      		<li>
      			<label>账户名</label><input type="text" class="uk-input uk-form-width-large f-right" name="account_name" placeholder="账户名">
      		</li>
      		<li>
      			<label>余额</label><input type="number" class="uk-input uk-form-width-large f-right" name="account_balance" placeholder="余额">
      		</li>
      		<li>
      			<label>备注</label><input type="text" class="uk-input uk-form-width-large f-right" name="account_remarks" placeholder="备注">
      		</li>
      	</ul>
      	</form>
        <div class="uk-modal-footer">
        	<button class="uk-button uk-button-primary">保存</button>
        </div>

    </div>
</div>