*{font-family: 'Microsoft Yahei'}
html,body{font-size: 14px; height: 100%; width: 100%;}
html{overflow: auto;}
body{}
/**nav**/
.nav-wrapper{width: 100%; text-align: center;position: fixed;top: 0; z-index: 999;}
.nav{width: 1024px; margin: 0 auto; /*border-radius: 0px; border: 0px; border-bottom: 1px #eee solid; */}
/**footer**/
.footer-wrapper{width: 100%; text-align: center; position: absolute; bottom: 0; clear:both;}
.footer{width: 1000px; margin: 0px auto;}
/**main*/
.main{width: 100%;position: relative; height: 100%; margin-top: 80px; margin-bottom: -80px;}
/**container**/
.container{width: 1000px; margin: 0 auto;}
/** home **/
.balance-briefing{margin-top: 50px;}
.balance-table{padding:10px 0;  margin-top: 50px;}
.balance-table-header-right{float: right;}
.balance-table table{width: 100%; border: 1px solid #ccc; margin-top: 0;}
.balance-chart{margin-top: 50px; width: 100%; height: 550px;}
.balance-chart-bar{width: 480px;height: 500px; display: inline-block;}
.balance-chart-pip{width: 480px;height: 500px;margin-left: 20px; display: inline-block;}
/**login and register**/
.login-register-panel{width: 500px; float: left;margin-top: 100px;padding: 20px; border: 1px solid #ccc;}
.login-register-panel form{padding: 20px 0;}
.login-register-panel form button{margin-top: 20px;}
/**link*/
.none-decoration-link:link,.none-decoration-link:hover{text-decoration: none;}
.plain-link{color: #666;}
.plain-link:hover{color: #333;}
.block-link{display: block;}
.f-right{float: right;}
.f-left{float: left;}
.text-center{text-align: center;}
.inline-block{display: inline-block;}
/*margin*/
.margin-top-20{margin-top: 20px;}
.margin-top-40{margin-top: 40px;}
.margin-top-50{margin-top: 50px;}
.margin-top-80{margin-top: 80px;}
/**padding*/
.padding-x-20{padding:0 20px; }
.padding-y-20{padding:20 0px; }
/*display*/
.display-none{display: none;}
.display-inline-block{display: inline-block;}
/*position**/
.pos-abs{position: absolute;}
.pos-rel{position: relative;}
.pos-fixed{position: fixed;}

/**bill*/
div.location-options{left:0px;top:30px;width:500px;max-height:500px;background:#fff;border:1px solid #ccc;z-index:999;}
div.location-options ul{padding:0;}
div.location-options ul li{padding:8px 10px;}
div.location-options ul li:hover{background: #eee;}
.bill_view{overflow: visible;}
/**user info*/
img.user-avatar{width: 80px; height: 80px; border-radius: 40px;}

/**welcome*/
div.welcome{
	color: #696969;
}
div.introduction{text-align: center;margin: 30px 0;}
div.introduction h1{color: #696969;}
div.welcome div.description{margin-top: 30px; text-align: center;}
div.welcome div.description div.description-item{text-align: center; padding: 20px 0; margin:15px; border: 1px solid #ccc;}
div.welcome div.description div.description-item:hover{background-color: #484b52;color: #fff;}

/*uk-tab**/
ul.uk-tab li a{color: #666;}
ul.uk-tab li a:hover{color: #333;}