<div class="modify-bill" ng-controller="c_modify_bill">
	<div class="uk-modal-header">
		<h3 style="display:inline-block;">账单修改</h3>
		<span class="f-right">
			<button type="button" class="uk-button uk-button-primary" ng-click="switchBillType()">切换类型</button>
	    	<button type="button" class="uk-button uk-button-primary" ng-click="backward()">返回</button>
		</span>
	</div>

	<div ui-view="modify_bill_view"></div>

	<div class="uk-alert" ng-show="bill_modify_tip_show" ng-bind-html="bill_modify_tip | trustHtml"></div>
	
	<div class="uk-modal-footer">
		<button class="uk-button uk-button-primary">保存</button>
	</div>
</div>