<!-- 简报 -->
<div class="balance-briefing uk-animation-slide-left" ng-controller="c_chart_budget">
	<div class="uk-panel">
		<div class="uk-panel uk-panel-header">
			<div class="uk-panel-title">
			本月预算
			<span class="f-right">
				
			</span>
			</div>
		</div>
		<div class="uk-panel-content">
		<div class="uk-alert" ng-bind-html="charts_budget_tip | trustHtml" ng-show="charts_budget_tip"></div>
			本月预算支出 ¥ {{budget.budget_num | subFloat:2}} 元, 已消费 ¥ {{budget.outcome_num | subFloat:2}} 元， 还剩 ¥ {{(budget.budget_num-budget.outcome_num) | subFloat:2}} 可以消费。
		</div>
		<div class="uk-progress"><!-- 进度条 -->
		    <div class="uk-progress-bar" style="width: {{proportion}}%;">{{proportion | subFloat:2}}%</div>
		</div>
	</div>
</div>
<!-- 收支表 -->
<!-- <div class="balance-table uk-animation-slide-right">
	<div class="uk-panel uk-panel-header">
		<div class="uk-panel-title">本月收支表(单位：元)<span class="balance-table-header-right">2015年10月份</span></div>
	</div>
	<table class="uk-table">
	    <caption>收支表(单位：元)</caption>
	    <thead>
	        <tr>
	        	<th>类型</th>
	            <th>当天</th>
	            <th>当周</th>
	            <th>当月</th>
	            <th>当年</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	        	<td>支出</td>
	            <td>-82</td>
	            <td>-560</td>
	            <td>-1650</td>
	            <td>-20400</td>
	        </tr>
	        <tr>
	        	<td>收入</td>
	            <td>+200</td>
	            <td>+1800</td>
	            <td>+7800</td>
	            <td>+150000</td>
	        </tr>
	    </tbody>
	</table>
</div> -->

<div class="charts-distribute balance-chart uk-animation-slide-left" ng-controller="c_charts_distribute">
	<div class="uk-panel">
		<div class="uk-panel-header">
			<span style="font-size:18px;">本月收支分布图</span>
			<span class="f-right">
				从{{start_date}}到{{end_date}}
			</span>
			<hr>
		</div>
		<div class="uk-panel-content display-inline-block">
			<div class="uk-alert" ng-bind-html="charts_distribute_tip | trustHtml" ng-show="charts_distribute_tip"></div>
			<!-- 收入分布图 -->
			<div class="charts-distribute-pie margin-top-40 display-inline-block" id="charts-distribute-pie-income" style="width:480px;height:500px;"></div>
			<!-- 支出分布图 -->
			<div class="charts-distribute-pie margin-top-40 display-inline-block" id="charts-distribute-pie-outcome" style="width:480px;height:500px;"></div>
		</div>
		<div class="uk-panel-footer"></div>
	</div>
</div>