<!-- 简报 -->
<div class="balance-briefing uk-animation-slide-left">
	<div class="uk-panel">
		<div class="uk-panel uk-panel-header">
			<div class="uk-panel-title">本月简报</div>
		</div>
		<div class="uk-panel-content">本月预算支出 ¥6,000.00 元, 已消费 ¥1,100.00 元， 还剩 ¥-4,900.00 可以消费。</div>
		<div class="uk-progress"><!-- 进度条 -->
		    <div class="uk-progress-bar" style="width: 18.3%;">18.3%</div>
		</div>
	</div>
</div>
<!-- 收支表 -->
<div class="balance-table uk-animation-slide-right">
	<div class="uk-panel uk-panel-header">
		<div class="uk-panel-title">本月收支表(单位：元)<span class="balance-table-header-right">2015年10月份</span></div>
	</div>
	<table class="uk-table">
	    <!-- <caption>收支表(单位：元)</caption> -->
	    <thead>
	        <tr>
	        	<th>类型</th>
	            <th>当天</th>
	            <th>当周</th>
	            <th>当月</th>
	            <th>当年</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	        	<td>支出</td>
	            <td>-82</td>
	            <td>-560</td>
	            <td>-1650</td>
	            <td>-20400</td>
	        </tr>
	        <tr>
	        	<td>收入</td>
	            <td>+200</td>
	            <td>+1800</td>
	            <td>+7800</td>
	            <td>+150000</td>
	        </tr>
	    </tbody>
	</table>
</div>
<!-- 收支图 -->
<div class="balance-chart uk-animation-slide-left">
	<div class="uk-panel uk-panel-header">
		<div class="uk-panel-title">本月收支图</div>
	</div>
	<div class="balance-chart-bar" id="balance-chart-bar"></div>
	<div class="balance-chart-pip" id="balance-chart-pip"></div>
	<script type="text/javascript">
    // 基于准备好的dom，初始化echarts图表
    var bar_chart = echarts.init(document.getElementById('balance-chart-bar')); 
    var pip_chart = echarts.init(document.getElementById('balance-chart-pip')); 
    // 为echarts对象加载数据 
    bar_chart.setOption(bar_option); 
    pip_chart.setOption(pip_option); 
    </script>
</div>