<!-- 登陆Panel -->
<div class="login-register-panel" ng-controller="c_login">
	<ul class="uk-tab" data-uk-tab>
	    <li class="uk-active"><a href="javascript:void(0);" ui-sref="login">登陆</a></li>
	    <li><a href="javascript:void(0);" ui-sref="register">注册</a></li>
	</ul>
	<form class="uk-form">
		<div class="uk-form-row"><input type="text" name="username" placeholder="用户名" ng-model="username"></div>
		<div class="uk-form-row">
			<div class="uk-form-password">
				<input type="password" name="password" placeholder="密码" ng-model="password">
				<a href="javascript:void(0);" class="uk-form-password-toggle" data-uk-form-password="{lblShow:'show', lblHide:'hide'}">
				</a>
			</div>
		</div>
		<button ng-click="login()" class="uk-button uk-button-default login-btn">登陆</button>
	</form>
</div>