<div class="welcome">
	<div class="introduction">
		<h1>Money Note</h1>
		<p class="uk-text-large margin-top-20">去繁就简，专注你的每一笔开销</p>
		<a class="uk-button uk-button-default uk-button-large margin-top-20" href="javascript:void(0);" ui-sref="login">开始使用</a>
	</div>
	<hr>
	<div class="description">
		<div class="description-item">
			<i class="uk-icon-paperclip uk-icon-large"></i>
			<p>简洁</p>
		</div>
		<div class="description-item">
			<i class="uk-icon-flash uk-icon-large"></i>
			<p>高效</p>
		</div>
		<div class="description-item">
			<i class="uk-icon-signal uk-icon-large"></i>
			<p>清晰</p>
		</div>
		<div class="description-item">
			<i class="uk-icon-thumbs-o-up uk-icon-large"></i>
			<p>易用</p>
		</div>
	</div>
</div>