<div class="uk-modal-header">
	<h3 style="display:inline-block;">添加{{add_category_title}}分类</h3>
	<span class="f-right">
		<button class="uk-button" ng-click="backward()">返回</button>
	</span>
</div>

<form class="uk-form add-category" action="" method="post">
	<input class="bill_category" name="bill_category" style="display:none;" value="{{previous_view}}">
	<ul class="uk-list uk-list-striped">
		<li>
			<label>一级分类</label>
			
			<span class="bill_category f-right">
	        <select class="uk-select" style="width:425px;" name="bill_category" ng-show="!ifAddSelfCategory && previous_view == 'outcome'">
	          	<option>衣服饰品</option>
				<option>食品酒水</option>
				<option>居家物业</option>
				<option>行车交通</option>
				<option>交流通讯</option>
				<option>休闲娱乐</option>
				<option>学习进修</option>
				<option>人情来往</option>
				<option>医疗保健</option>
				<option>金融保险</option>
				<option>其它杂项</option>
	        </select>
	        <select class="uk-select" style="width:425px;" name="bill_category" ng-show="!ifAddSelfCategory && previous_view == 'income'">
	          	<option>职业收入</option>
				<option>其它收入</option>
	        </select>
	        <input type="text" class="uk-input" style="width:425px;" name="self_first_category" placeholder="自定义一级分类" ng-show="ifAddSelfCategory">
	        <button type="button" class="uk-button uk-button-small" title="添加自定义一级分类" ng-click="AddSelfCategory()" ng-bind-html="add_self_category_btn_icon | trustHtml">
	          
	        </button>
	      </span>
		</li>
		<li>
			<label>二级分类</label>
			<input type="text" class="uk-input f-right" style="width:480px;" name="second_category" placeholder="二级分类名称">
		</li>
	</ul>
</form>

<div class="uk-modal-footer">
	<button class="uk-button uk-button-primary">保存</button>
</div>