<!--添加账户-->
<div class="add_account" ng-controller="c_add_account">

<div class="uk-modal-header">
  <h3 style="display:inline-block;">添加账户</h3>
  <span class="f-right">
    <button class="uk-button" ng-click="backward()">返回</button>
  </span>
</div>

<form class="uk-form">
  <ul class="uk-list uk-list-striped">
    <li>
      <label>类型</label>
      <span class="bill_account f-right">

        <select class="uk-select" style="width:446px;" name="added_account" ng-model="added_account" ng-show="!ifAddSelfAccount" ng-options="account_item.account.account_id as account_item.account.account_name for account_item in account_items">
          </select>

        <input type="text" class="uk-input" name="added_account" style="width:446px;" placeholder="自定义账户类型" ng-model="added_account" ng-show="ifAddSelfAccount">

        <button type="button" class="uk-button uk-button-small" title="添加自定义类型" ng-click="switchSelfAccount()" ng-bind-html="add_self_account_btn_icon | trustHtml">
        </button>

      </span>
    </li>
    <li>
      <label>名称</label>
      <input type="text" class="uk-input uk-form-width-large f-right" name="added_child_account_name" ng-model="added_child_account_name" placeholder="账户名称">
    </li>
    <li>
      <label>余额</label>
      <input type="number" class="uk-input uk-form-width-large f-right" name="added_child_account_balance" placeholder="余额" ng-model="added_child_account_balance">
    </li>
    <li>
      <label>备注</label>
      <input type="text" class="uk-input uk-form-width-large f-right" name="added_child_account_remarks" placeholder="备注" ng-model="added_child_account_remarks">
    </li>
  </ul>
</form>

<div class="uk-modal-footer">
  <button class="uk-button uk-button-primary" ng-click="addAccount()">保存</button>
</div>

</div>