<div class="uk-modal-header">
	<h3 style="display:inline-block;">添加{{add_category_title}}分类</h3>
	<span class="f-right">
		<button class="uk-button" ng-click="backward()">返回</button>
	</span>
</div>

<form class="uk-form add-category">
	<ul class="uk-list uk-list-striped">
		<li>
			<label>一级分类</label>
			
			<span class="bill_category f-right">
	        <select class="uk-select" style="width:425px;" name="bill_category" ng-model="bill_category.bill_category" ng-show="!ifAddSelfCategory" ng-options="bill_category_item.bill_category.bill_category_id as bill_category_item.bill_category.bill_category_name for bill_category_item in bill_category_items">
	        </select>
	        <!-- <select class="uk-select" style="width:425px;" name="bill_category" ng-model="bill_category.bill_category" ng-show="!ifAddSelfCategory && previous_view == 'income'" ng-options="bill_category_item.bill_category.bill_category_id as bill_category_item.bill_category.bill_category_name for bill_category_item in bill_category_items"></select> -->
	        
	        <input type="text" class="uk-input" style="width:425px;" name="self_first_category" placeholder="自定义一级分类" ng-show="ifAddSelfCategory" ng-model="bill_category.bill_category">
	        <button type="button" class="uk-button uk-button-small" title="添加自定义一级分类" ng-click="switchAddSelfCategory()" ng-bind-html="add_self_category_btn_icon | trustHtml">
	          
	        </button>
	      </span>
		</li>
		<li>
			<label>二级分类</label>
			<input type="text" class="uk-input f-right" style="width:480px;" name="child_bill_category" ng-model="bill_category.child_bill_category" placeholder="二级分类名称">
		</li>
	</ul>
</form>

<div class="uk-modal-footer">
	<button class="uk-button uk-button-primary" ng-click="addCategory()">保存</button>
</div>