<div class="bill uk-grid" ng-controller="c_bill">
	<div class="uk-width-1-6">
		<ul class="uk-tab uk-tab-left">
		    <li ng-class="{'uk-active': current_bill_tab=='today_bills'}" ng-click="switchBillTab('today_bills')">
		    	<a href="javascript:void(0);" class="plain-link">今日账单</a>
		    </li>
		    <li ng-class="{'uk-active': current_bill_tab=='bill_query'}" ng-click="switchBillTab('bill_query')">
		    	<a href="javascript:void(0);" class="plain-link">账单查询</a>
		    </li>
		    <li ng-class="{'uk-active': current_bill_tab=='bill_category'}" ng-click="switchBillTab('bill_category')">
		    	<a href="javascript:void(0);" class="plain-link">账单分类</a>
		    </li>
		</ul>
	</div>
	<div class="bill_view uk-width-5-6" ui-view="bill_view"></div>
	<!--新增账单-->
	<div class="uk-modal bill-add" id="add-bill-modal" ng-controller="c_bill_add">
	    <div class="uk-modal-dialog" ng-click="add_bill_modal_click()">
			<!-- <div class="bill-view" ui-view="bill_add_view"></div> -->
			<div class="add-bill" ng-include="templates.bill_add"></div>
	    </div>
	</div>
	<!--账单详情-->
	<div class="uk-modal" id="bill-detail-modal" ng-controller="c_bill_details">
	    <div class="uk-modal-dialog">
	      	<!-- <div class="bill-details-view" ui-view="bill_details_view"></div> -->
	      	<div class="add-bill" ng-include="templates.bill_view"></div>
	    </div>
	</div>
</div>



