<div class="uk-modal-header">
	<h3 style="display:inline-block;" ng-bind="bill_type_text"></h3>
	<span class="f-right">
		<button type="button" class="uk-button" ng-click="backToDetail()" ng-show="current_operation == 'modify_bill'">返回</button>
		<button type="button" class="uk-button" ng-click="switchBillType()">切换类型</button>
	</span>
</div>

<form class="uk-form" action="" method="post">
<ul class="uk-list uk-list-line">
        <input type="text" class="display-none" value="1" name="bill_type">
	<li>
		<label>分类</label>
		<span class="bill_category f-right">
			<!-- 一级选项 -->
			<select class="uk-select" name="category" style="width:229px;" ng-model="bill.category" ng-change="billCategoryTypeChange()" ng-options="bill_category_item.bill_category_id as bill_category_item.bill_category_name for bill_category_item in bill_category_items"></select>
				
			<!-- 二级选项 -->
			<select class="uk-select" name="child_category" style="width:230px;" ng-model="bill.child_category" ng-options="child_bill_category.child_bill_category_id as child_bill_category.child_bill_category_name for child_bill_category in child_bill_categories"></select>

			<button type="button" class="uk-button uk-button-small" title="添加分类" ng-click="vAddCategory('outcome')"><i class="uk-icon-plus"></i></button>
		</span>
	</li>
	<li>
		<label>账户</label>
		<span class="bill_account f-right">
			<!-- 一级账户 -->
			<select class="uk-select" name="account" style="width:229px;" ng-model="bill.account" ng-change="billAccountTypeChange()" ng-options="account_item.account_id as account_item.account_name for account_item in account_items"></select>

			<!-- 二级账户 -->
			<select class="uk-select" name="child_account" style="width:230px;" ng-model="bill.child_account" ng-options="child_account.child_account_id as child_account.child_account_name for child_account in child_accounts"></select>

			<button type="button" class="uk-button uk-button-small" title="添加账户" ng-click="vAddAccount()"><i class="uk-icon-plus"></i></button>
		</span>
	</li>
	
	<li>
	<label>时间</label>
	<span class="bill-datetime-picker f-right">
		<input type="text" class="uk-input" name="bill_date" style="width:230px;" placeholder="日期(空缺默认当前时间)" ng-model="bill.date" data-uk-datepicker="{format:'YYYY-MM-DD',startDate:maxDate,maxDate:maxDate}"><!-- 日期 -->
		
		<select class="uk-select" name="bill_time_hour" style="width:130px;" ng-model="bill.time.hour" ng-options="hour as hour for hour in hours"></select>
			
		
		<select class="uk-select" name="bill_time_minute" style="width:130px;" ng-model="bill.time.minute" ng-options="minute as minute for minute in minutes"></select>
	</span>
	</li>
    <li>
	    <label>地点</label>
	    <span class="bill_location f-right pos-rel">
	    <input class="uk-input location-input uk-form-width-large" placeholder="地点" name="bill_location" type="text" ng-model="bill.location" ng-change="locationInputChange()" />
	    <div class="location-options pos-abs" ng-show="location_options_show">
	    	<ul class="uk-list uk-list-striped">
	    		<li ng-repeat="location in location_options">
	    			<a href="javascript:void(0);" class="block-link plain-link none-decoration-link" ng-click="selectLocation(location.name)">
	    			{{location.name}}
	    			<span class="f-right" style="color: #aaa;">{{location.city}}{{location.district}}</span>
	    			</a>
	    		</li>
	    	</ul>
	    </div>
	    </span>
    </li>
	<li>
		<label>金额</label>
		<input class="uk-input uk-form-width-large f-right" placeholder="金额(人民币)" name="bill_sum" type="number" ng-model="bill.sum" />
	</li>
	<li>
		<label>备注</label>
		<input class="uk-input uk-form-width-large f-right" placeholder="备注" name="bill_remarks" type="text" ng-model="bill.remarks" />
	</li>
</ul>
</form>

<div class="uk-modal-footer">
	<button type="button" class="uk-button uk-button-primary" ng-click="addBill()" ng-show="current_operation == 'add_bill'">保存</button>
	<button type="button" class="uk-button uk-button-primary" ng-click="modifyBill()" ng-show="current_operation == 'modify_bill'">保存修改</button>
	<div class="uk-alert uk-alert-danger" ng-show="bill_type_switch_tip_show" data-uk-alert>
		<a href="javascript:void(0);" class="uk-alert-close uk-close"></a>
		<span ng-bind-html="bill_type_switch_tip | trustHtml"></span>
	</div>
</div>

<!-- <option>0:00</option><option>0:30</option><option>1:00</option><option>1:30</option><option>2:00</option><option>2:30</option>
    <option>3:00</option><option>3:30</option><option>4:00</option><option>4:30</option><option>5:00</option><option>5:30</option>
    <option>6:00</option><option>6:30</option><option>7:00</option><option>7:30</option><option>8:00</option><option>8:30</option>
    <option>9:00</option><option>9:30</option><option>10:00</option><option>10:30</option><option>11:00</option><option>11:30</option>
    <option>12:00</option><option>12:30</option><option>13:00</option><option>13:30</option><option>14:00</option><option>14:30</option>
    <option>15:00</option><option>15:30</option><option>16:00</option><option>16:30</option><option>17:00</option><option>17:30</option>
    <option>18:00</option><option>18:30</option><option>19:00</option><option>19:30</option><option>20:00</option><option>20:30</option>
    <option>21:00</option><option>21:30</option><option>22:00</option><option>22:30</option><option>23:00</option><option>23:30</option> -->