<div class="uk-modal-header">
	<h3 style="display:inline-block;">账单详情</h3>
	<span class="f-right">
    	<button type="button" class="uk-button uk-button-danger" ng-click="deleteBill()">删除</button>
    	<button type="button" class="uk-button uk-button-primary" ng-click="modifyBill()">修改</button>
	</span>
</div>
        
<ul class="uk-list uk-list-striped">
	<li><label>类型</label><span class="f-right">支出</span></li>
	<li><label>类别</label><span class="f-right">饮食酒水</span></li>
	<li><label>账户</label><span class="f-right">现金</span></li>
	<li><label>时间</label><span class="f-right">2015-10-24 07:22</span></li>
    <li><label>地点</label><span class="f-right">深圳大学新西南食堂</span></li>
	<li><label>金额</label><span class="f-right">￥3.5</span></li>
	<li><label>备注</label><span class="f-right">早餐</span></li>
</ul>