<div class="bill_category" ng-controller="c_bill_category">
	<div class="uk-panel">
		<div class="uk-panel-header">
			<div class="uk-panel-title">
				{{bill_category_title}}
				<span style="float:right;">
					<button class="uk-button uk-button-primary" ng-click="switchCategoryType()">切换</button>
					<button class="uk-button uk-button-primary" ng-click="vAddCategory()">添加</button>
				</span>
			</div>
		</div>
		<div class="uk-panel-content">
			<table class="bill_category_items uk-table uk-table-striped">
				<thead>
					<tr>
						<th>一级分类</th>
						<th>二级分类</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bill_category_item in bill_category_items" id="bill_category_item_{{$index}}">
						<td>
						{{bill_category_item.bill_category_name}}
						<span class="f-right">
							<button class="uk-button uk-button-primary uk-button-small" title="修改一级分类" ng-click="vModifyBillCategory($index)">
							<i class="uk-icon-edit"></i>
							</button>
							<button class="uk-button uk-button-danger uk-button-small" title="删除一级分类" ng-click="deleteBillCategory(bill_category_item.bill_category_id)">
							<i class="uk-icon-trash"></i>
							</button>
						</span>
						</td><!-- 一级分类 -->
						<td><!-- 二级分类 -->
							<select class="uk-select" name="child_bill_category" ng-model="bill_category_item.child_bill_categories[0].child_bill_category_id" ng-options="child_bill_category.child_bill_category_id as child_bill_category.child_bill_category_name for child_bill_category in bill_category_item.child_bill_categories"></select>
							<span class="f-right">
								<button class="uk-button uk-button-primary uk-button-small" title="修改二级分类" ng-click="vModifyChildBillCategory($index)">
								<i class="uk-icon-edit"></i>
								</button>
								<button class="uk-button uk-button-danger uk-button-small" title="删除二级分类" ng-click="deleteChildBillCategory($index)">
								<i class="uk-icon-trash"></i>
								</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- 添加分类 -->
	<div class="uk-modal" id="bill_category_add_modal">
	<div class="uk-modal-dialog">

	<div class="uk-modal-header">
		<h3 style="display:inline-block;">添加{{bill_category_title}}</h3>
		<span class="f-right">
		</span>
	</div>
	<form class="uk-form">
	<ul class="uk-list uk-list-striped">
		<li>
			<label>一级分类</label>
			
			<span class="bill_category f-right">
	        <select class="uk-select" style="width:425px;" ng-model="added_bill_category" ng-show="!is_self_defined" ng-options="bill_category_item.bill_category_id as bill_category_item.bill_category_name for bill_category_item in bill_category_items">
	        </select>
	        
	        <input type="text" class="uk-input" style="width:425px;" placeholder="自定义一级分类" ng-show="is_self_defined" ng-model="added_bill_category">

	        <button type="button" class="uk-button uk-button-small" title="添加自定义一级分类" ng-click="switchAddSelfCategory()">
	        	<i class="uk-icon-medium uk-icon-toggle-{{toggle_type}}"></i>
	        </button>
	      </span>
		</li>
		<li>
			<label>二级分类</label>
			<input type="text" class="uk-input f-right" style="width:480px;" ng-model="added_child_bill_category" placeholder="二级分类名称">
		</li>
	</ul>
	</form>

	<div class="uk-modal-footer">
		<button class="uk-button uk-button-primary" ng-click="addCategory()">保存</button>
	</div>

	</div>
	</div>
	<!-- 修改一级分类 -->
	<div class="uk-modal" id="bill_category_modify_modal">
		<div class="uk-modal-dialog">
			<div class="uk-modal-header">修改一级分类</div>
			<form class="uk-form">
			<label>一级分类</label>
			<span class="f-right">
			<input type="text" class="uk-input" style="width:425px;" ng-model="current_bill_category.bill_category_name" placeholder="一级分类名称">
			</span>
			</form>
			<div class="uk-modal-footer">
				<button class="uk-button uk-button-primary" ng-click="modifyBillCategory()">保存</button>
			</div>
		</div>
	</div>
	<!-- 修改二级分类 -->
	<div class="uk-modal" id="child_bill_category_modify_modal">
		<div class="uk-modal-dialog">
			<div class="uk-modal-header">修改二级分类</div>
			<form class="uk-form">
			<label>二级分类</label>
			<span class="f-right">
			<input type="text" class="uk-input" style="width:425px;" ng-model="current_child_bill_category.child_bill_category_name" placeholder="二级分类名称">
			</span>
			</form>
			<div class="uk-modal-footer">
				<button class="uk-button uk-button-primary" ng-click="modifyChildBillCategory()">保存</button>
			</div>
		</div>
	</div>
</div>