<div class="budget uk-animation-slide-right" ng-controller="c_budget">
	<!--本月预算-->
	<div class="budget-month-details">
		<div class="uk-panel uk-panel-header">
			<div class="uk-panel-title">本月预算</div>
		</div>
		<table class="uk-table cash-tabel">
		    <thead>
		        <tr>
		        	<th>预算</th>
		            <th>支出</th>
		            <th>收入</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>3000</td>
		            <td>-2870</td>
		            <td>+1200</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>