<div class="cash uk-animation-slide-right" ng-controller="c_accounts_sum">
	<!--总账户详情-->
	<div class="account-details">
		<div class="uk-panel uk-panel-header">
			<div class="uk-panel-title">总账户详情</div>
		</div>
		<table class="uk-table cash-tabel">
		    <thead>
		        <tr>
		        	<th>余额</th>
		            <th>总流入</th>
		            <th>总流出</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>6250</td>
		            <td>+11650</td>
		            <td>-5400</td>
		        </tr>
		    </tbody>
		</table>
		<!-- <div class="uk-progress">进度条
		    <div class="uk-progress-bar" style="width: 18.3%;">18.3%</div>
		</div> -->
	</div>
</div>