<div class="accounts uk-grid" ng-controller="c_accounts">
<div class="uk-width-1-6">
	<ul class="uk-tab uk-tab-left">
      <!-- <li ng-repeat="account_item in account_items" data-uk-dropdown="{mode:'click'}">
        <a href="javascript:void(0);" class="plain-link">{{account_item.account.account_name}}<i class="uk-icon-caret-down f-right"></i></a>
        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                <li ng-repeat="child_account in account_item.child_accounts" ng-click="showAccount(child_account.child_account_id)">
                  <a href="javascript:void(0);">
                  {{child_account.child_account_name}}
                  </a>
                </li>
            </ul>
        </div>
      </li> -->
      <li ng-class="{'uk-active': current_accounts_tab=='account_manage'}" ng-click="switchAccountsTab('account_manage')">
        <a href="javascript:void(0);" ui-sref="account_manage" class="plain-link" >账户管理</a>
      </li>
      <li ng-class="{'uk-active': current_accounts_tab=='account_transfer'}" ng-click="switchAccountsTab('account_transfer')">
        <a href="javascript:void(0);" class="plain-link">转账</a>
      </li>
      <!-- <li ng-class="{'uk-active': current_accounts_tab=='account_transfer_query'}" ng-click="switchAccountsTab('account_transfer_query')">
        <a href="javascript:void(0);" class="plain-link">转账查询</a>
      </li> -->
	</ul>
</div>
<div class="accounts_view uk-width-5-6" ui-view="accounts_view"></div>
</div>
